################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpAlgorithmsLibrary/.vs/CSharpAlgorithmsLibrary/v15/Server/sqlite3
