################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpAlgorithmsLibrary/.vs/CSharpAlgorithmsLibrary/v15/Server/sqlite3
/CSharpAlgorithmsLibrary/packages
/CSharpAlgorithmsLibrary/StringAlgorithmsTests/obj/Debug
/CSharpAlgorithmsLibrary/StringAlgorithms/obj/Debug
/CSharpAlgorithmsLibrary/MatrixAlgorithms/obj/Debug
/CSharpAlgorithmsLibrary/MatrixAlgorithmsTests/obj/Debug
/CSharpAlgorithmsLibrary/ArrayAlgorithms/obj/Debug
